<!DOCTYPE html>
<html>

<head>
  <title>Have a happy day</title>
  <link rel="stylesheet" href="./styles.css" />
  <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="wrapper">
    <div class="container">
      <input name='message' type="text" id='message' placeholder="Quote" />
      <select id="image_name" name="image_name">
        {{#each image_names}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
      <button id="submit">Add Quote</button>
      <p id="statue-message"></p>
    </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="./admin.js"></script>

</html>
